/* COLORS */
/* Gris clair */
/* Bleu */
/* Rouge */
/* Vert */
/* Beige */
/* Dark */
/* Gris hover */
/* PLACEHOLDER */
/* BOX-SHADOW */
/* BACKGROUND */
/* Access SASS variables in a React component */
/* line 6, ../sass/style.scss */
:export {
  color0: #bdc3d0;
}

/* line 10, ../sass/style.scss */
:export {
  color1: #3f79f0;
}

/* line 14, ../sass/style.scss */
:export {
  color2: #ec4655;
}

/* line 18, ../sass/style.scss */
:export {
  color3: #1d9e8a;
}

/* line 22, ../sass/style.scss */
:export {
  color4: #e5c592;
}

/* line 26, ../sass/style.scss */
:export {
  color5: #333;
}

/* line 30, ../sass/style.scss */
:export {
  color6: #eee;
}

/* line 34, ../sass/style.scss */
body {
  font-family: Roboto;
  background: #f5f6fa;
}

/* line 39, ../sass/style.scss */
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 45, ../sass/style.scss */
.clearfix {
  clear: both;
}

/* line 49, ../sass/style.scss */
.logo {
  width: 200px;
}

/* line 53, ../sass/style.scss */
a {
  color: #3f79f0;
}
/* line 55, ../sass/style.scss */
a:hover {
  color: #0f47ba;
  text-decoration: none;
}

/* line 61, ../sass/style.scss */
.right {
  float: right;
}

/* line 65, ../sass/style.scss */
.left {
  float: left;
}

/* line 69, ../sass/style.scss */
.btn-primary {
  background-color: #3f79f0;
  border-color: transparent;
  text-transform: uppercase;
  height: 50px;
  padding: 0px 30px 0px 30px;
  -webkit-box-shadow: 0px 7px 17px rgba(63, 121, 240, 0.3);
  -moz-box-shadow: 0px 7px 17px rgba(63, 121, 240, 0.3);
  box-shadow: 0px 7px 17px rgba(63, 121, 240, 0.3);
}
/* line 72, ../sass/style.scss */
.btn-primary:hover {
  background-color: #0f47ba;
  border-color: transparent;
}

/* line 82, ../sass/style.scss */
.btn-success {
  background-color: #1d9e8a;
  border-color: transparent;
  text-transform: uppercase;
  height: 50px;
  padding: 0px 30px 0px 30px;
  -webkit-box-shadow: 0px 7px 17px rgba(29, 158, 138, 0.3);
  -moz-box-shadow: 0px 7px 17px rgba(29, 158, 138, 0.3);
  box-shadow: 0px 7px 17px rgba(29, 158, 138, 0.3);
}
/* line 85, ../sass/style.scss */
.btn-success:hover {
  background-color: #0d483f;
  border-color: transparent;
}

/* line 96, ../sass/style.scss */
#inscription .form-control {
  border-radius: 4px;
}

/* line 101, ../sass/style.scss */
.connexion {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}
/* line 108, ../sass/style.scss */
.connexion .form-control {
  height: 50px;
  border-color: #bdc3d0;
  color: #bdc3d0;
  padding: 6px 15px;
}
/* line 4, ../sass/_mixins.scss */
.connexion .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bdc3d0;
}
/* line 8, ../sass/_mixins.scss */
.connexion .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bdc3d0;
}
/* line 12, ../sass/_mixins.scss */
.connexion .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bdc3d0;
}
/* line 16, ../sass/_mixins.scss */
.connexion .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdc3d0;
}
/* line 115, ../sass/style.scss */
.connexion .form-control:focus {
  border-color: #3f79f0;
  -webkit-box-shadow: 0px 0px 8px rgba(63, 121, 240, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(63, 121, 240, 0.3);
  box-shadow: 0px 0px 8px rgba(63, 121, 240, 0.3);
}
/* line 121, ../sass/style.scss */
.connexion .btn-default {
  height: 50px;
  padding: 0px 30px 0px 30px;
}
/* line 126, ../sass/style.scss */
.connexion #connexion-img {
  background: url("../../img/babyfoot.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}
/* line 131, ../sass/style.scss */
.connexion #submit {
  margin-top: 20px;
}
/* line 135, ../sass/style.scss */
.connexion .input-group {
  margin-top: 15px;
}
/* line 139, ../sass/style.scss */
.connexion .flexbox {
  height: 100%;
  flex-direction: column;
  padding-left: 30px;
}
/* line 145, ../sass/style.scss */
.connexion form {
  margin-top: 50px;
  padding: 0 100px 0 100px;
}
/* line 150, ../sass/style.scss */
.connexion .input-group-addon {
  background-color: #fff;
  border: 1px solid #bdc3d0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-right: 0;
  color: #bdc3d0;
  padding: 0px 15px;
  font-size: 12px;
}
/* line 161, ../sass/style.scss */
.connexion .lien {
  display: block;
  margin-top: 10px;
  float: right;
}

/* line 168, ../sass/style.scss */
#root {
  overflow: hidden;
}

/* line 173, ../sass/style.scss */
.logo:hover {
  opacity: 0.8;
}
/* line 176, ../sass/style.scss */
.logo img {
  width: 100%;
}

/* line 183, ../sass/style.scss */
#main .navbar-default {
  background-color: #fff;
  border-radius: 0;
  text-align: center;
}
/* line 189, ../sass/style.scss */
#main .height100 {
  height: 100%;
}
/* line 193, ../sass/style.scss */
#main .nav-pills > li > a {
  border-radius: 0;
}
/* line 197, ../sass/style.scss */
#main .nav > li > a {
  padding: 30px 15px;
  color: #bdc3d0;
}
/* line 202, ../sass/style.scss */
#main .navbar-collapse {
  padding: 0;
}
/* line 206, ../sass/style.scss */
#main .navbar-header {
  float: none;
}
/* line 210, ../sass/style.scss */
#main .nav-stacked > li + li {
  margin-top: 0px;
}
/* line 214, ../sass/style.scss */
#main .navbar-brand {
  height: 100px;
  padding: 30px 30px 30px 30px;
}
/* line 219, ../sass/style.scss */
#main .nav > li > a {
  border-right: 3px solid transparent;
}
/* line 223, ../sass/style.scss */
#main .active {
  background-color: #f9f9fa !important;
  color: #3f79f0 !important;
  border-right-color: #3f79f0 !important;
}
/* line 229, ../sass/style.scss */
#main .section {
  background: #fff;
  height: 300px;
  border: 1px solid #dbdee5;
  border-radius: 4px;
}
/* line 236, ../sass/style.scss */
#main #content {
  padding-top: 10px;
}
/* line 240, ../sass/style.scss */
#main .photo {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  transform: translateZ(0);
}
/* line 247, ../sass/style.scss */
#main .photo div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 257, ../sass/style.scss */
#main .photo div:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
/* line 266, ../sass/style.scss */
#main h5 {
  color: #bdc3d0;
  margin-top: 0;
  font-weight: 300;
}
/* line 272, ../sass/style.scss */
#main .profil {
  flex-direction: column;
  margin: 50px 0;
}
/* line 275, ../sass/style.scss */
#main .profil h3 {
  margin-bottom: 10px;
}
/* line 280, ../sass/style.scss */
#main .versus {
  font-size: 5em;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 100px;
}

/* line 290, ../sass/style.scss */
.flex-column {
  flex-direction: column;
}

/* line 295, ../sass/style.scss */
#header a {
  margin-right: 10px;
}

/* line 300, ../sass/style.scss */
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  height: 300px;
  border: 1px solid #dbdee5;
  border-radius: 4px;
}
/* line 310, ../sass/style.scss */
.player .photo2 {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  transform: translateZ(0);
}
/* line 317, ../sass/style.scss */
.player .photo2 div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 329, ../sass/style.scss */
.player:hover {
  cursor: pointer;
  background: #eee;
}
/* line 334, ../sass/style.scss */
.player:hover .photo2 div {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 341, ../sass/style.scss */
.search {
  margin-bottom: 25px;
}

/* line 345, ../sass/style.scss */
h3 {
  text-align: center;
  margin-bottom: 30px;
}

/* line 350, ../sass/style.scss */
.role {
  height: 75px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dbdee5;
  margin-bottom: 15px;
  color: #fff;
}
/* line 358, ../sass/style.scss */
.role .photo3 {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  transform: translateZ(0);
}
/* line 365, ../sass/style.scss */
.role .photo3 div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 377, ../sass/style.scss */
.role h4, .role h5 {
  margin: 0;
  padding: 0;
}
/* line 382, ../sass/style.scss */
.role:hover {
  cursor: pointer;
  background: #eee;
}
/* line 387, ../sass/style.scss */
.role:hover .photo3 div {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 394, ../sass/style.scss */
.target {
  color: #bdc3d0;
}

/* line 399, ../sass/style.scss */
#team1 .role,
#team1 .number {
  background: #3f79f0;
}
/* line 403, ../sass/style.scss */
#team1 .role:hover,
#team1 .number:hover {
  background: #0f47ba;
}
/* line 408, ../sass/style.scss */
#team1 h3 {
  color: #3f79f0;
}

/* line 414, ../sass/style.scss */
#team2 .role,
#team2 .number {
  background: #ec4655;
}
/* line 418, ../sass/style.scss */
#team2 .role:hover,
#team2 .number:hover {
  background: #b91322;
}
/* line 423, ../sass/style.scss */
#team2 h3 {
  color: #ec4655;
}

/* line 428, ../sass/style.scss */
.number {
  height: 30px;
  width: 30px;
  padding-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
}
