@import './sass/variables';
@import './sass/mixins';

body {
    font-family: Roboto;
    background: #f5f6fa;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix {
    clear: both;
}

.logo {
    width: 200px;
}

.form-control {
    height: 50px;
    border-color: $color0;
    color: $color0;
    padding: 6px 15px;
    @include placeholder-color($color0);

    &:focus {
        border-color: $color1;
        @include box-shadow(0px, 0px, 8px, rgba($color1, .3));
    }
}

.btn-primary {
    background-color: $color1;
    border-color: transparent;
    &:hover {
        background-color: darken($color1, 20%);
        border-color: transparent;
    }
    text-transform: uppercase;
    height: 50px;
    padding: 0px 30px 0px 30px;
    @include box-shadow(0px, 7px, 17px, rgba($color1, .3));
}

.btn-default {
    height: 50px;
    padding: 0px 30px 0px 30px;
}

a {
    color: $color1;
    &:hover {
        color: darken($color1, 20%);
        text-decoration: none;
    }
}

#connexion {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

    #connexion-img {
        @include background-image('./img/babyfoot.jpg');
        height: 100%;
    }

    #submit {
        float: right;
        margin-top: 20px;
    }

    .input-group {
        margin-top: 15px;
    }

    .flexbox {
        height: 100%;
        flex-direction: column;
        padding-left: 30px;
    }

    form {
        margin-top: 50px;
        padding: 0 100px 0 100px;
    }

    .input-group-addon {
        background-color: #fff;
        border-color: $color0;
        color: $color0;
        padding: 6px 15px;
        font-size: 12px;
    }

    .lien {
        display: block;
        margin-top: 10px;
        float: right;
    }
}

#main {

    .logo {
        width: 100%;
    }

    .navbar-default {
        background-color: #fff;
        border-radius: 0;
        text-align: center;
    }

    .height100 {
        height: 100%;
    }

    .nav-pills > li > a {
        border-radius: 0;
    }

    .nav > li > a {
        padding: 30px 15px;
        color: $color0;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-header {
        float: none;
    }

    .navbar-brand {
        height: 100px;
        padding: 30px 30px 30px 30px;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        background-color: #fff;
        color: $color1;
        border-right: 3px solid $color1;
    }
    
    .section {
        background: #fff;
        height: 300px;
        border: 1px solid lighten($color0, 10%);
    }
    
    #content {
        padding-top: 10px;
    }
    
}
